@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import "tailwindcss";

:root {
  /* Light theme colors */
  --background: #ffffff;
  --foreground: #242426;

  /* Font variables */
  --font1: 'Cinzel', serif;
  --font2: 'Prata', serif;
}

/* Optional inline theme for Tailwind extensions */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font1);
  --font-serif: var(--font2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242426;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font1); /* Default font */
  margin: 0;
  padding: 0;
}

/* Custom font classes */
.font-style-1 {
  font-family: var(--font1);
  font-optical-sizing: auto;
  font-style: normal;
}

.font-style-2 {
  font-family: var(--font2);
  font-optical-sizing: auto;
  font-style: normal;
}
